<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475699851165-4cu8qj7voem4q405r98iakrm84ljjosv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475699851165-4cu8qj7voem4q405r98iakrm84ljjosv</string>
	<key>API_KEY</key>
	<string>AIzaSyBokLJbZwfMaYXbL6vNrrZyFw3wSGw9hSo</string>
	<key>GCM_SENDER_ID</key>
	<string>475699851165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.housingsociety</string>
	<key>PROJECT_ID</key>
	<string>mysociety-693a7</string>
	<key>STORAGE_BUCKET</key>
	<string>mysociety-693a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475699851165:ios:995fcd9afda516bbfa4974</string>
</dict>
</plist>